/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-03, 16:54:11
    Author     : marcus
*/

.helion-box a::after, 
.helion-box a::before {
    content: " ";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
}
.helion-box a {
    box-shadow: none;
    background-color: #f0f0f0;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 16px;
    display: inline-block;
    height: 100%;
    line-height: 36px;
    position: relative;
    text-decoration: none;
    color: #000;
}
.helion-box a:hover {
    color: #fff;
    background-color: #e4001e;
    border: 1px solid #e6001e;
    border-radius: 4px;
    box-shadow: none;
}
.helion-box a:hover:before {
    opacity:0;
}
.helion-box a:hover:after {
    opacity:1;
}
.helion-box a::before {
    left: 8px;
    background: transparent url(https://static01.helion.com.pl/helion/images/helion.svg) no-repeat -426px -321px;
}
.helion-box a::after {
    left: 8px;
    background: transparent url(https://static01.helion.com.pl/helion/images/helion.svg) no-repeat -337px -321px;
    opacity: 0;
}
